[2015-05-08 15:44] addyosmani opened #3 "`closeObserver` exceptions using firebase-element"
When using the `firebase-element`, I'm currently getting closeObserver exceptions. Verified by another user. Commenting out https://github.com/PolymerElements/firebase-element/blob/master/firebase-element.html#L329 allows the element to be used.

![screen shot 2015-05-08 at 16 41 41](https://cloud.githubusercontent.com/assets/110953/7539769/261874ac-f5a1-11e4-81e6-102b770d0e06.png)

This is probab

[2015-05-08 18:37] cdata commented on #3
Word, checking it out.

[2015-05-11 15:48] atomikolex opened #4 "missing button action in the demo for onRemoveRemote"
just noticed the function for the last button action is missing on the object prototype, nothing important...

[2015-05-11 16:24] atomikolex opened #5 "Automatic persisting of top-level properties in the x-firebase demo not working"
Entering new input values does not persist new values in the firebase. No error is fired in the console. Should the observer be changed to dataNameChanged?

[2015-05-11 21:24] ocorso opened #6 "Documentation needs update to 0.8/0.9/1.0: repeat -> dom-repeat="{{key in keys}}""

[2015-05-15 12:42] surma opened #8 "[0.9 branch] `_stopListeningTo` does not exists"
There a references to both `_stopListening` as well as `_stopListeningTo`, but only the former exists.

[2015-05-15 12:43] surma opened #9 "[0.9 branch] ref.off() takes too many parameters"
`_stopListening` is failing because apparently `ref.off()` expects 3 parameters and not for. Removing the last parameter (i.e. `this`) seems to fix this.

[2015-05-25 21:39] lpalmaro opened #11 "firebas-element accessibility issues"
Audit results here:
[Severe] Controls and media elements should have labels (2)[Warning] Text elements should have a reasonable contrast ratio (4)Not applicable tests (9)Passing tests (4)

One thing I'll mention is that the focus state is really difficult to see on the buttons. The blue focus state on the link and text field is fine, but I'm not able to see it at all on the buttons -- is it actual

[2015-05-29 07:19] justinribeiro opened #16 "Setting limit-to-last causes uncaught error: Query.limitToFirst: Limit was already set"
When setting `limit-to-last` on `firebase-collection`, you'll get the following error on the console:

This is because `limitToFirst` has a default value of 100 in [firebase-collection.html#L133](https://github.com/GoogleWebComponents/firebase-element/blob/f2d1883924eeb3a3db9acf9a533ece144e2def4d/firebase-collection.html#L133) and will attempt to be set after `limitToLast` in `_computeQuery` [fire

[2015-05-31 22:30] bahuma20 opened #19 "firebase-collection: Uncaught TypeError: Cannot read property 'slice' of undefined"
Using firebase-collection this way:
[code]

Works fine on first run, but when updating it shows following error in the console:
[code]

[2015-05-31 22:47] MauriSalazar opened #20 "Component Page 404"
There is no documentation for firebase-auth for example, only for firebase-collection:

https://elements.polymer-project.org/elements/firebase-element?active=firebase-collection

![screen shot 2015-05-31 at 19 43 56](https://cloud.githubusercontent.com/assets/4121898/7904330/73671266-07cd-11e5-9d60-f5bd574ae342.png)

[2015-06-01 15:28] cdata commented on #19
Thanks for reoorting. I'll take a look.

[2015-06-01 16:03] birkir commented on #19
I get that as well. Pinpointed this to polymer library in the splice function.

    splice: function(path, start, deleteCount) {
        var array = this.get(path); <--

the "array" variable returns null because the path has not been set, yet.

So, i looked at what path was tried to retrieve:

    this.splice('data' + this.data.indexOf(oldValue), 1, value);

Resulted in `"data-1"` that's not a val

[2015-06-02 04:13] curtiscovington opened #22 "_applyLocalDataChanges not being called in firebase-document"

[2015-06-02 04:23] hawkett opened #23 "[1.0.0] Computed value method not called correctly on firebase-collection data changes"
In the example below, computeVal(peeps) is called _before_ the firebase event is logged (as part of element initialisation), and not after - so the only computed value is against the empty list, despite there being a result. Repeated execution reliably gives the same results.

The ```dom-repeat``` works as expected, the ```dom-if``` doesn't.

[JSBin demonstrating the problem] (http://jsbin.com/duf

[2015-06-02 11:00] marcus7777 opened #24 "having trouble saving to firebase"
do I just update the {{data}} ? If so it's not working.

https://www.youtube.com/watch?v=k-S_K80ItNs

what am i missing?

[2015-06-02 15:55] curtiscovington commented on #24
I am pretty sure this is related to the issue I was having: https://github.com/GoogleWebComponents/firebase-element/issues/22

[2015-06-02 16:08] tjsavage opened #25 "element should be renamed google-firebase to align with rest of set"

[2015-06-02 16:29] cdata commented on #9
This issue was made against an experimental iteration of this element. I'm going to close it for now. Let me know if you think it is still relevant!

[2015-06-02 16:29] #9 closed

[2015-06-02 16:29] cdata commented on #8
This issue was made against an experimental iteration of this element. I'm going to close it for now. Let me know if you think it is still relevant!

[2015-06-02 16:29] #8 closed

[2015-06-02 16:29] cdata commented on #6
This issue was made against an experimental iteration of this element. I'm going to close it for now. Let me know if you think it is still relevant!

[2015-06-02 16:29] #6 closed

[2015-06-02 16:29] cdata commented on #5
This issue was made against an experimental iteration of this element. I'm going to close it for now. Let me know if you think it is still relevant!

[2015-06-02 16:29] #5 closed

[2015-06-02 16:29] cdata commented on #3
This issue was made against an experimental iteration of this element. I'm going to close it for now. Let me know if you think it is still relevant!

[2015-06-02 16:29] #3 closed

[2015-06-02 16:30] cdata commented on #4
This issue was made against an experimental iteration of this element. I'm going to close it for now. Let me know if you think it is still relevant!

[2015-06-02 16:30] #4 closed

[2015-06-02 16:31] #16 closed

[2015-06-02 18:26] cdata commented on #25
This works for me.

[2015-06-02 18:28] addyosmani commented on #25
:+1: . The reason I didn't suggest this earlier was uncertainty around whether it's kosher to refer to the product as Google Firebase. If we're all good on that front, we should definitely go ahead with this.

[2015-06-02 19:01] tjsavage opened #27 "Cannot read property 'slice' of undefined on firebase update"
Hey! :)

I link my polymer to firebase with this :

[code]

Everything works fine at first display. But when I update a entry of firebase it return in Console :
[code]
And nothing is update in my html template. However, when I add an entry in firebase, it add to my template without any errors.

[2015-06-02 19:03] bahuma20 commented on #27
Similar to #19

[2015-06-02 19:40] curtiscovington commented on #25
I'd very much like that. It seems rather strange to have it grouped with the rest of the google elements with a different name format.

[2015-06-02 22:46] curtiscovington commented on #22
I have been poking around in the firebase-document code. Removing the readOnly from the data property appears to resolve the issue. Anyone know why data is set to readOnly?

[2015-06-02 22:47] curtiscovington commented on #24
Temporary work around, try removing readOnly from the data property.

[2015-06-02 23:06] cdata commented on #27
This is fixed in https://github.com/GoogleWebComponents/firebase-element/pull/26

[2015-06-02 23:07] cdata commented on #19
This is fixed in https://github.com/GoogleWebComponents/firebase-element/pull/26

[2015-06-02 23:07] cdata commented on #24
Hi, thanks for reporting. I have fixed this in #28 .

[2015-06-02 23:08] cdata commented on #22
Thanks for reporting. This is fixed in #26 .

[2015-06-02 23:12] cdata commented on #23
In order to correctly measure changes to an array in Polymer's data-binding system, you need to make a binding like this:

`{{didWeGetRolled(peeps.*)}}`

After doing this, `didWeGetRolled` will be notified with "splice" change events related to the array. You can measure the size of the array like this: `change.base.length`.

[2015-06-02 23:12] cdata commented on #23
For more detail on this subject, please refer to: https://github.com/Polymer/polymer/blob/master/PRIMER.md#array-observation

[2015-06-02 23:12] #23 closed

[2015-06-03 00:47] hawkett commented on #23
Cool - thanks for the heads-up.

Can see now that the docs do say: _The element then produces and maintains an Array of ordered child items_, but it still didn't occur to me that the array was being updated in place rather than replaced. Makes a lot of sense though.

A clarifying note on this in the firebase-element docs would be awesome whenever the next updates come along.

[2015-06-03 04:44] #24 closed

[2015-06-03 14:37] #22 closed

[2015-06-03 14:50] addyosmani commented on #27
We'll aim to finish up reviews on #26 shortly so this fix can land.

[2015-06-03 16:20] #19 closed

[2015-06-03 16:23] cdata commented on #27
#26 has landed. Please re-open if you continue to see this problem.

[2015-06-03 16:23] #27 closed

[2015-06-11 19:29] fcbenoit opened #30 "Cannot set property '_parent_dinosaurs' of undefined"
I'm trying to get the firebase-element sample working, but I'm consistently getting the following error:

Cannot set property '_parent_dinosaurs' of undefined

If I remove the data property, the error goes away, but I'm obviously unable to bind to anything.  I do see data logged in the console.  Not sure what I'm doing wrong.

![2015-06-11 15_25_36-comethub-mobile debugging - microsoft visual stud

[2015-06-11 21:23] tjsavage commented on #25
@addyosmani I think we're ok for this element set since it's just standard that everything starts with `google-`, like `google-youtube`. I'd say we're good to go to change this.

[2015-06-12 00:28] fcbenoit commented on #30
Figured it out. I had an additional (and completely unnecessary) outer template element.

[2015-06-12 00:28] #30 closed

[2015-06-12 00:49] atotic commented on #25
What happens when Firebase gets spun off like Google Sketchup :)

[2015-06-13 19:39] sfeast opened #31 "firebase-document only works with static locations"
For example something like:

[code]
with getLocation defined as:

[code]

gives the following:

![error](https://cloud.githubusercontent.com/assets/202769/8145738/acd685d6-11c8-11e5-8f40-e6ec3e3cb495.png)

Looks like an issue in _applyLocalDataChanges since it tries to update the remote doc here even when there is no data or query but not certain how to best address.

[2015-06-13 20:12] curtiscovington commented on #31
Try a computed value.

[code]

[2015-06-13 20:33] curtiscovington commented on #31
@sfeast actually, the code you provided appears to work for me. Are you using the latest version?

[2015-06-14 18:48] sfeast commented on #31
Thanks for taking a look. Looks like it's also tied to the data property.

Here's an example (only works in chrome I think since I'm defining an element in the main html doc) - https://jsbin.com/mohifu/edit

The example spits out the error I mentioned but if you replace ```location="{{getLocation()}}"``` with ```location="https://dinosaur-facts.firebaseio.com/dinosaurs"``` then it works. Or if you

[2015-06-16 23:37] devAtPolydeals opened #32 "How do I check if there was an error in adding data?"
Hi,

Can you provide an example on how can i check if there was an error returned on push/add?

thanks!

[2015-06-23 21:42] tjsavage opened #33 "Polymer 1.0 :Nested dom-repeat templates cannot show the content of a child object"
_From @HamzaouiMounir on June 22, 2015 13:36_

I want to display an object content(comments) in a post data (using firebase-collection) : Here is the structure of a post in firebase :

"Publication" : {
       "date":"22-06-2015",
 "content" : "post example",
 "comments": {
  //a post has too many comments on it
  }
}
My goal is to add another dom-repeat to show comments but i cannot see anything.

[2015-06-23 21:42] tjsavage commented on #33
_From @kevinpschaaf on June 23, 2015 1:31_

This is the issue tracker for the Polymer core library, not elements created with it.  We'll move this to a more appropriate location (probably https://github.com/GoogleWebComponents/firebase-element).

[2015-06-24 08:01] motss opened #34 "Extra comma"
Would it be an issue with an extra comma being found at **line 211** of **firebase-collection.html**?

[2015-06-24 09:12] curtiscovington commented on #34
Yes, that is valid JS.

[2015-06-30 08:03] dominik0711 opened #35 "Dynamically change location attribute"
Is it possible to change the **location** attribute of `firebase-collection` dynamically like this:

[code]

[2015-06-30 17:46] lukewil commented on #35
+1 - super interested in the answer to this question!

[2015-06-30 21:05] curtiscovington commented on #35
What I did was have a computed location property

[code]

[2015-07-02 00:16] devAtPolydeals opened #36 "I am having issues with it when i open a page with firebase-collection the second time."
It is a very peculiar error, the page does not render the data if you visit it next time, however console.log shows that data is being retrieved.

See SO for detailed explanation:

http://stackoverflow.com/questions/31173432/issue-with-showing-content-from-firebase-using-google-polymer-firebase-element

[2015-07-12 09:17] jenyckee opened #38 "Polymer 1.0 compatibility"
When installing with

    bower install --save polymer/firebase-element

For polymer 1.0 I get dependency conflicts for webcomponentsjs en polymer

    Unable to find a suitable version for webcomponentsjs, please choose one:
        1) webcomponentsjs#^0.6.0 which resolved to 0.6.3 and is required by polymer#0.5.6
        2) webcomponentsjs#^0.7.2 which resolved to 0.7.6 and is required by polyme

[2015-07-12 09:19] curtiscovington commented on #38
@jenyckee You are using the wrong command. Try this instead:

[code]

[2015-07-12 09:20] jenyckee commented on #38
Thanks! It's not clear from the polymer catalog site nor firebase site how to install.

[2015-07-12 09:23] curtiscovington commented on #38
@jenyckee
From: https://elements.polymer-project.org/browse?package=google-web-components

Star the element you want. Then click the star in the top right. Click the download tab.

That should tell you how to install the elements you want.

[2015-07-12 09:30] jenyckee commented on #38
Yes, I know but it doesn't. It says "bower install --save" with the "GoogleWebComponents/firebase-element#^1.0.0"

[2015-07-12 09:44] curtiscovington commented on #38
@jenyckee
Right? That is what it is supposed to say? Or am I missing something?

[2015-07-12 09:50] jenyckee commented on #38
The command "bower install --save" won't install anything. It would be cool if it said the complete command

[2015-07-12 10:03] curtiscovington commented on #38
@jenyckee
You have to star what you want first. In the list, click the star on elements you want.

[2015-07-12 10:14] jenyckee commented on #38
Got it!

[2015-07-12 10:15] curtiscovington commented on #38
Cool. I think we can close this issue then. =]

[2015-07-12 11:30] #38 closed

[2015-07-15 11:30] marcus7777 commented on #32
play with using both `document` and `collection` ;
http://jsbin.com/lokegu/edit?html,output

[2015-07-15 18:50] devAtPolydeals commented on #32
@marcus7777  thanks for your reply. You are using firebase push operation, i wanted to use the add method as mentioned in firebase-collection document to add data. see https://elements.polymer-project.org/elements/firebase-element?active=firebase-collection

[2015-07-16 02:21] jeffposnick opened #39 "<firebase-auth params="{...}"> is not properly used in login()"
The `<firebase-auth>` `params` (and `options`) attributes are defined as `type: Object`, meaning that they're automatically deserialized into `Object`s when referenced from JavaScript. The [current `login()` code](https://github.com/GoogleWebComponents/firebase-element/blob/5ac68d72d44fb9c446a85cc2d25513ad52b1a594/firebase-auth.html#L203) attempts to do a `JSON.parse(this.params)`, but that should

[2015-07-16 02:46] Mygod opened #40 "How to apply non-string values to start-at?"
`start-at="1"` sets `startAt` to `"1"`. What should I do to set it to `1`?

[2015-07-16 04:50] cdata commented on #40
Hello. You can use the `orderValueType` to do this.

Please refer to it here: https://github.com/GoogleWebComponents/firebase-element/blob/master/firebase-collection.html#L182-L199

[2015-07-16 04:50] #40 closed

[2015-07-16 04:52] Mygod commented on #40
But I also want to set `endAt=""` so that I can pick out all the positive numbers... How do I do that?

[2015-07-16 06:24] cdata commented on #39
Thanks for reporting this. I'll take a look.

[2015-07-17 10:32] jenyckee commented on #32
If I'm correct the firebase-collection element in polymer 1.0 does not support push anymore. When using add I get the same error :

Cannot read property 'ref' of undefined

[2015-07-17 23:57] devAtPolydeals opened #41 "firebase-element has issues with routing libraries"
Hi,

I tried using firebase-element with app-router, more- routing and router.js. I get the same error for all of them. If you execute or dispatch the route the 2nd time in the same session the data in HTML does not get rendered.

I tried using iron-list, iron-ajax with template repeat and it works great.

However with firebase-element it does not.

[2015-07-18 01:34] devAtPolydeals commented on #41
This issue has now been resolved. It was due to a bug in firebase-collection. It was fixed at https://github.com/GoogleWebComponents/firebase-element/pull/42/files and will soon be merged.

[2015-07-18 01:34] #41 closed

[2015-07-19 19:00] jenyckee opened #43 "Uncaught TypeError: Cannot read property '__firebaseKey__' of undefined"
I have a collection of objects in a firebase db

    <template>
        <firebase-collection
          location="https://incandescent-inferno-8405.firebaseio.com/objects/-JubQT-WrBaVlSeuKJhO"
          data="{{object}}"
        </firebase-collection>

        <paper-input value="{{object.attribute::input}}"></paper-input>
    </template>

When I start typing in the input field I get

     Uncaught

[2015-07-21 16:22] cdata commented on #43
Hi, this is a symptom of a bug that was addressed a few days ago. Can you confirm that you have the latest version of the element (v1.0.2)? Thanks!

[2015-07-22 09:38] jenyckee commented on #43
I updated to the latest version but still got the same error

[2015-07-22 17:21] cdata commented on #43
Thanks for the examples. I will take a look.

[2015-07-23 00:24] sfeast commented on #43
@jenyckee I believe it's as I answered here - http://stackoverflow.com/questions/31504447/firebase-polymer-two-way-binding-uncaught-typeerror-cannot-read-property-f/31545356#31545356 You are mixing up collections & documents. In your first example above you trying to bind your collection of objects to a single paper-input, doesn't work/make sense. In the 2nd example you are binding a single object

[2015-07-27 00:12] Thandriel opened #44 "No way to update items"
If I'm not mistaken there is no way to update item. Just to add or remove.

[2015-07-27 21:58] #36 closed

[2015-07-27 22:15] devAtPolydeals opened #45 "Get a "Uncaught TypeError: Cannot read property 'forEach' of null" after moving to V1.0.3"
Hi,

I moved to V.1.0.3, it fixed an issue that i was facing: 'Addresses a bug in collection that causes data to be re-initialized after it has already been received from Firebase.' However now see an exception in the log, functionality works good. But the error comes up the 2nd time a user views the page. To recreate the bug do the following:

1. Keeping console open and Go to www.polydeals.com/#

[2015-07-28 23:27] maria-le opened #46 "Demo Error: Uncaught TypeError: this.$.firebaseLogin.login is not a function"
When implementing [the demo](https://github.com/GoogleWebComponents/firebase-element/blob/master/demo/index.html), as written, when using the `anonymous` login option, I get the following errors:

`Uncaught TypeError: Cannot read property 'login' of undefined`
`Uncaught TypeError: this.$.firebaseLogin.login is not a function`

Similar errors occur for `password` option.

[2015-07-29 00:10] devAtPolydeals commented on #46
You need to provide more info to solve this issue. Can you put your code on jsedit or something?

[2015-07-29 00:29] cdata commented on #46
Hi, thanks for reporting. I will take a look shortly.

[2015-07-29 00:43] maria-le commented on #46
Never mind. It was my fault. Close this please.

[2015-07-29 00:43] #46 closed

[2015-07-29 21:48] justinribeiro commented on #44
Example of how to update items with `firebase-collection` and `firebase-document`

https://gist.github.com/justinribeiro/04fd25cf9ef82ed51113

[2015-08-02 11:27] polycentric opened #47 "firebase-auth element fires 'login' event twice on successful login"
Using provider: google with default popup auth and listening for login event: <firebase-auth id="fbLogin" location="https://****.firebaseio.com" provider="google" user="{{user}}" status-known="{{statusKnown}}" on-login="handleLogin">
The handleLogin function gets called twice. Using DevTools to step through code after calling the login method on the firebase-auth method reveals that in firebase-au

[2015-08-07 18:27] jarrodek opened #48 "Add error event to the firebase-query-behavior"
It's a feature request.
It would be grate to have error event when query can't be processed. For example when you try to read data from an URL but you don't have read access to it. The element will only remove an URL value from element's location attribute but will not tell you that it is something wrong. Event handling would be nice to have.

[2015-08-12 21:13] ebidel opened #50 "firebase-document documentation wrong"
_From @salah-saleh on August 12, 2015 17:31_

https://elements.polymer-project.org/elements/firebase-element?active=firebase-document
missing the close markup /firebase-document

_Copied from original issue: Polymer/polymer#2259_

[2015-08-12 21:13] ebidel commented on #50
_From @arthurevans on August 12, 2015 21:4_

The issue's in the API doc comments here: https://github.com/GoogleWebComponents/firebase-element/blob/master/firebase-document.html.

[2015-08-12 21:14] #50 closed

[2015-08-12 23:41] remarkable-ky opened #52 "Unable to get values to update"
I'm unable to get the below to work and update a firebase value.  It does update locally, but it is not making it to the server.   The code is able to pull the object down...

[code]

[2015-08-24 08:20] marcus7777 commented on #39
![screenshot email scope](https://cloud.githubusercontent.com/assets/6314260/9435583/fd147142-4a40-11e5-89ca-c41a6acffac3.png)

No email permission request on the Consent Popup when you add email as a scope

[2015-08-24 12:41] marcus7777 commented on #39
@jeffposnick like https://github.com/HackITtoday/firebase-element/commit/0e8835e3496f2a5723ab635dfff58c10aa298ce9#l172 ??

[2015-08-24 14:03] jeffposnick commented on #39
@marcus7777 it would be `this.async(this.login);`, since the parameter to `this.async()` should be a reference to a function.

[2015-08-26 06:34] cdata opened #55 "Items not re-sorted after order values change."

[2015-08-26 06:35] cdata opened #56 "Logging typo for `child-moved` event."

[2015-08-26 07:38] ktiedt commented on #56
This is also fixed by https://github.com/GoogleWebComponents/firebase-element/pull/57

[2015-08-27 17:15] #55 closed

[2015-08-27 17:15] #56 closed

[2015-09-04 03:48] kevinpschaaf opened #61 "firebase-collection: Modifying new locally-pushed items throws"
Repro: http://jsbin.com/paqaro/edit?html,console,output

* Click 'Add'
* Type in input
* Note error

[code]

This is due to the previous https://github.com/GoogleWebComponents/firebase-element/pull/60 fix which avoided the round-trip modification from the server, which is where the local `__firebaseKey__` property is set.  Simple fix is to set the new key in `add` after `push`, as its synchronousl

[2015-09-09 23:49] honzalo commented on #47
+1 Having the same issue

[2015-09-18 09:57] marcus7777 opened #64 "When do you think you should be ready for production?"
I've been struggling to get the firebase element working for about 6 months now and I'm still struggling sometimes just writing data to new location or knowing whether to use collection or document it's still confusing. I got Scott miles to help me out at the polymer conference and it seem to be working then and now I'm back home and I still have the same problem. I'm thinking at the moment I shou

[2015-09-18 17:21] devAtPolydeals commented on #64
:+1:  Amen to this my friend....

[2015-09-19 09:12] BorntraegerMarc opened #65 "Problem with hosting"
Hi there

I've build a sample polymer application with the starter kit (V 1.1.0) and pushed it to firebase (https://blazing-heat-376.firebaseapp.com/). Now I wanted to use the firebase element and copied a simple example. Here's my code:
`

    <template is="dom-bind">
      <firebase-collection location="https://blazing-heat-376.firebaseio.com/"
                           data="{{dinosaurs}}"></f

[2015-09-20 06:46] marcus7777 commented on #65
try ```<link rel="import" href="../firebase-element/firebase-collection.html">``` If it is your in element
```<link rel="import" href="bower_components/firebase-element/firebase-collection.html">``` if in index

[2015-09-20 10:42] BorntraegerMarc commented on #65
Hello @marcus7777
I have like a separate elements.html, that handels the imports. If I try to paste in your code I get the following error:
`errno: -4058
code: ENOENT
path: D:\Workspaces\polymer-starter-kit-1.1.0\dist\elements\bower_components\firebase-element\firebase-collection.html
fileName: D:\Workspaces\polymer-starter-kit-1.1.0\dist\index.html`

So I don't think, that it is a import problem.

[2015-09-20 11:09] BorntraegerMarc commented on #65
Is it possible, that the element has problems being vulcanized?

[2015-09-20 17:57] addyosmani commented on #65
I've been using vulcanized versions of the firebase-element with PSK for the last few weeks and didn't run into issues. That said, perhaps we should try vulcanizing a much smaller sample that uses the firebase elements and see if we can repro this outside of PSK?

[2015-09-20 18:38] BorntraegerMarc commented on #65
@addyosmani Alright, thanks for the reply. Do you maybe have a sample project or code, where you use firebase with polymer? Maybe I'm using the library wrong... By the way: I'm using PSK 1.1.0 with firebase-elements 1.0.6...

[2015-09-21 12:50] marcus7777 commented on #64
demo http://jsbin.com/tufeva/edit?html,console,output

[2015-09-23 13:21] BorntraegerMarc commented on #65
@addyosmani Hi there! I tried to vulcanize a smaller example and I'm getting the same error... Do you have a special build/vulcanizing/deployment process?

[2015-09-23 13:33] addyosmani commented on #65
@BorntraegerMarc It looks like using PSK 1.1.0 (which uses polybuild/polyclean as part of the pipeline) may well result in some other build issues. One related to Firebase that we're tracking is https://github.com/PolymerLabs/polyclean/issues/4. I can't confirm this is the same cause of the issue you're running into that fails the rest of the build, but it may be related.

[2015-09-23 14:08] BorntraegerMarc commented on #65
@addyosmani Yes, that fixed it for me! Thank you very much :) Hope you can fix the bug soon...

[2015-09-23 14:19] #65 closed

[2015-09-23 20:32] marcus7777 commented on #39
My bad I didn't include the actually it in my code, sorry.
By the way you need to include the attribute params in your firebase auth

[2015-09-24 14:53] zoechi opened #68 "Element catalog has no link to the demo"
https://elements.polymer-project.org/elements/firebase-element?active=firebase-collection

[2015-09-24 15:38] zoechi opened #69 "property `newPassword` and `params` not declared"
at https://github.com/GoogleWebComponents/firebase-element/blob/master/demo/x-login.html#L68
- `params` is used at
  https://github.com/GoogleWebComponents/firebase-element/blob/master/demo/x-login.html#L113
- `newPassword` is used at
  https://github.com/GoogleWebComponents/firebase-element/blob/master/demo/x-login.html#L43

[2015-09-24 15:40] zoechi commented on #68
Just realized that this example can probably not be made public because of the required Firebase database. Just close it if it is not planned.

[2015-09-24 15:57] zoechi commented on #69
and `removeUserHandler` is not implemented.

I started porting demos of PolymerElements and GoogleWebComponents to Polymer.dart.
It looks a bit like the demo for this element is still work-in-progress.
Is there a good way to know whether a demo is ready to be ported?

[2015-09-24 18:54] JanaFlauschata opened #70 "firebase-collection does not work within restamped conditional template"
Since maybe here are more people who could tell me if my problem is related to something firebase specific I will repost my [stackoverflow question](http://stackoverflow.com/questions/32749282/firebase-collection-does-not-work-within-restamped-conditional-template)

I'm having a problem with using a firebase-collection element within a restamped conditional template.

When the page is loaded initi

[2015-10-01 09:42] Geoffrey-Pliez opened #72 "Firebase-element : Vulcanize issue"
The build of a project using Firebase-element, index.html displays the javascript code minimized
<img width="960" alt="issue" src="https://cloud.githubusercontent.com/assets/4426520/10217646/7b3102ee-6831-11e5-9e1a-eccefb6d6a4c.png">

[2015-10-01 09:44] addyosmani commented on #72
Could you provide a repro of the code/commands you're running to reproduce this issue? There's a slight change it's related to https://github.com/PolymerLabs/polyclean/issues/4, but probably not.

[2015-10-01 11:53] Geoffrey-Pliez commented on #72
https://github.com/Geoffrey-Pliez/firebase-element-issue.

This simple code create the issue

[2015-10-05 23:30] devmikko commented on #72
Just by putting `<link rel="import" href="../bower_components/firebase-element/firebase-collection.html">` on elements.html will cause this issue.

SS
https://slack-files.com/T03PF4L4C-F0BRR2KSR-b2a1d0ebc7
https://slack-files.com/T03PF4L4C-F0BRVSM16-e8de6e987e

[2015-10-06 13:23] gpoulet commented on #72
same thing here ! :(

[2015-10-07 00:11] jesusabarca commented on #72
I'm having the same issue.

[2015-10-07 08:27] Geoffrey-Pliez commented on #72
The guilty file is "firebase/firebase.js".
I have commented  this file and Vulcanize work.

[2015-10-09 09:54] albertolobrano opened #73 "What is the best-practice to use the query object we get from collections.add ?"
I have a collection component that i use to list my products.  When i add a new  product to the collection i want to notify the user that the product has been added.

In order to do this i was thinking to use the component document and collection together binding on the query object.

For instance when i add the product i get a query object as a result that contains the path of the product just ad

[2015-10-09 21:06] Protoss78 opened #74 "user-created event does not include uid of newly registered user"
The firebase API returns the UID of the newly generated user, but the firebase-auth element does not include the information in the event details. This makes it quite cumbersome to implement a custom registration process.

[2015-10-09 21:09] Protoss78 commented on #74
This modification worked for me:
[code]

[2015-10-11 08:53] albertolobrano commented on #74
this is what i do:

1) call firebase-auth.createUser.
2) on the event : user-created -> I call firebase-auth.login
3) the login returns the user object with the id and other stuff

[2015-10-11 19:05] Protoss78 commented on #74
I've found the login workaround already in a couple of firebase forums. I think there was even a modification request that requested this as a feature. Therefore it was later included in its API. From my perspective the web component should not block already existing API logic. I can provide the needed change in a pull request.

[2015-10-15 07:40] lapteuh opened #76 "firebase-collection: issue with computed property"
Hi.

If i'm using variable binded to firebase-collection in my element in computed property as argument parameter, my computed property not updating, when changes occur.

Example:
[code]

Sample project: [https://github.com/lapteuh/firebase-element-bug-with-computed-property](https://github.com/lapteuh/firebase-element-bug-with-computed-property).

Thanks for your response.

[2015-10-19 19:10] jfrazzano opened #77 "Doubling data in separate elements"
Hi,

This may be a newbie error, and if so I appologize in advance, but we have been ha in some odd "onscreen" data duplication

In using a firebase element on two different pages in two different custom elements, we are pulling on query value a set of test scores from firebase documents that we are dynMically creating on the instance.

The firebase location is keyed to an ID. If the test scores a

[2015-10-19 21:47] jfrazzano commented on #77
Will pull this, just had one more q and a fill in on our misguided approach.

To attempt to take advantage of both the firebase element and standard API, we hash banged over starter kit routing and opened a new firebase document, dynamically. We believed that using an iffe implementation would sneak around any problems and give us the best of both the firebase elements and the native firebase API.

[2015-10-19 21:47] #77 closed

[2015-10-28 17:40] Shadowfaxenator opened #79 "Using collection inside custom element"
When I use firebase-collection on index.html <template is="dom-bind"> and iterate with iron-list it works.

But when I encapsulate this in my custom element it loads only first item from firebase collection. And I need to refresh dom to make it load all items and display them

[2015-10-29 19:08] albertolobrano opened #81 "Conflict with array-selector when updating an item in firebase"
When an item in firebase get's updated the components call the following code.  The given code will call splices on the array which causes any selected item to be deselected.

 _onFirebaseChildChanged: function(event) {
        this._applyRemoteDataChange(function() {
          var value = this._valueFromSnapshot(event.detail.childSnapshot);
          var oldValue = this._valueMap[value.__firebase

[2015-10-30 15:19] Shadowfaxenator opened #82 "How to observe changes"
Please explain how to `observe` changes on data ?
There is a property named `observers` how can I use it?

When I try to use native polymer observers, I do not get `indexSplices` object cause as I understand data is not loaded yet..

[2015-11-02 22:46] ebidel commented on #64
Agreed, the docs for these elements could definitely be better but there are a couple of things wrong with your  bin:

- you have a dom-module and import defined outside of your `<html>`
- you should bind the input to `{{data.hi::input}}`
- `firebase-document` has a `location` property. Not a `url` property.
- your demo will redefine `data.hi` on every page load. I think you probably want to use t

[2015-11-03 08:28] steren commented on #68
+1 for the missing demo on the Element catalog. The demo is very useful to understand how login works.

We can find it in the element's sources, so it should be possible to host it and link to it in the catalog.

[2015-11-03 15:34] cyberj commented on #72
Same here with fresh PSK + firebase element

[2015-11-03 17:30] #68 closed

[2015-11-05 13:49] Geoffrey-Pliez commented on #72
I have no more the problem since a PSK on master branch + firebase-element 1.0.8

[2015-11-05 13:49] #72 closed

[2015-11-06 15:47] chuckh opened #83 "removeUserHandler is missing from x-login"
removeUserHandler function is missing from x-login.html

[2015-11-06 19:41] arthurevans opened #85 "firebase-element needs more demo code"
_From @devAtPolydeals on June 17, 2015 23:58_

Can you provide a demo for firebase-element regards to how to add/remove data from firebase? I tried it based on the docs but it didn't work.

_Copied from original issue: Polymer/docs#1202_

[2015-11-07 12:46] oathcomrade commented on #74
+1

[2015-11-07 20:59] Whyser commented on #35
Can also confirm that it works to dynamically change the location property. It's really convenient! :D

[2015-11-07 21:19] Whyser opened #86 "Need an event to know when data has been fetched"
It's really necessary to know when data has been retrieved.

At the moment the only solution is to attach an observer to the property that we binded to the data attribute and listen for changes. But this is troublesome since this property can change by other means then being retrieved from firebase.

Something like `on-data-fetched`or similar, that gets called whenever new data is retrieved via a

[2015-11-09 09:29] albertolobrano commented on #35
Yes it is possible. I use it all the time with no issues at all

[2015-11-10 13:54] ifaris7 commented on #86
Please refer to firebase events documentation [here](https://www.firebase.com/docs/web/api/query/on.html), to learn about events provided by the Firebase core library, and once you have learned them, i can tell you that `Polymer.FirebaseQueryBehavior` fires the following events:
* firebase-child-added
* firebase-child-removed
* firebase-child-changed
* firebase-child-moved

which you can use them

[2015-11-10 13:55] ifaris7 commented on #82
You may find [this](https://github.com/GoogleWebComponents/firebase-element/issues/86#issuecomment-155425419) helpful

[2015-11-11 14:53] sheharyarn commented on #31
:+1:

[2015-11-13 19:22] maria-le opened #88 "Add firebase-value event to documentation"
The `firebase-value` event is not in the documentation as far as I can tell. So I think it needs to be added. Along with all the other available events.

[2015-11-13 19:50] BartKoppelmans opened #89 "Problems with type when using equalTo"
Hello,

When using `equalTo` in the `Firebase-collection` element, the type is always String. My Firebase database stores the data as a number and when I use the following code, it can't fetch data:

```<firebase-collection order-by-child="user_id" equal-to="[[thisUser.__firebaseKey__]]" location="--url--"  log="true"  data="{{userData}}"></firebase-collection>```

This is due to the `equalTo` typ

[2015-11-15 08:29] maria-le commented on #86
@ifaris7: In your list of events, you omitted `firebase-value`. But the problem is, all these events fire only after something "happens" to the firebase node or, in the case of `firebase-value` when a value is returned by the node query.

But we also need to know when the query returns `null` or `undefined` i.e., there is no firebase node at the end of the `location` property of the `<firebase-col

[2015-11-15 14:18] BartKoppelmans commented on #89
Never mind, I found the `orderValueType` solved my problem.

[2015-11-15 14:18] #89 closed

[2015-11-18 10:41] albertolobrano opened #90 "Upgrade firebase dep to 2.3.1"
Some great features have being added to firebase like Multi-path updates. We should upgrade to the last version.

[2015-11-18 10:46] albertolobrano opened #91 "Support for fan-out object"

[2015-11-18 10:48] addyosmani commented on #91
Are you referring to https://www.firebase.com/blog/2015-10-07-how-to-keep-your-data-consistent.html?

[2015-11-18 10:50] addyosmani commented on #90
Let's verify that nothing breaks as a result of updating to 2.3.1.

[2015-11-18 10:51] #83 closed

[2015-11-18 10:53] albertolobrano commented on #91
Hi @addyosmani , yes i am referring exactly to that post and this one : https://www.firebase.com/blog/2015-09-24-atomic-writes-and-more.html

I believe it is a great feature that firebase added there and i think we should support it.   I will use it a lot in my project.   I would like to help but i am not sure my js skill are there yet to play with the firebase element it self.

[2015-11-18 10:54] albertolobrano commented on #90
I will give it  a try right now and let you know

[2015-11-18 12:05] albertolobrano commented on #90
On my system: tests and application is running fine.   I will create a pr for this

[2015-11-20 17:16] bvhme commented on #90
Yeah, the Deep path querying is something that I'd love for my product right now!

[2015-11-22 08:28] ypryviazentsau commented on #35
@albertolobrano Could you please advice some code sample, I wasted hours trying to get it working ...

[2015-11-22 16:55] ericdes opened #93 "Firing an event when a set or update fails"
Hello,

I would like to listen to 'set' or 'update' failures (e.g. because of a rule not matching, etc).

I wrote a quick fix for myself in Typescript:

      this.query.child(key).set(value, (error) => {
        this._log(error);
        this.fire('firebase-set-error', error);
      });

However I think it'd better be implemented following your coding style, but I'm not really fluent in Javascrip

[2015-11-23 11:48] albertolobrano commented on #31
I had the same issue and i solved changing the following method in firebase-document

    _updateRemoteDocument: function() {
      this._log('Updating remote document');
      if(this.query){
        this.query.update(this.dataAsObject);
      }
    },

[2015-11-25 08:44] BartKoppelmans opened #94 "How to check successful login"
Hello,

Is there a possibility to check if the login was successful? There is the `error` event, but is there something like a `succes` event?

Bart

[2015-11-26 12:46] MeTaNoV commented on #88
+1

[2015-11-26 17:45] albertolobrano commented on #94
there is a login event that get fired and provides you the user object.

        this.fire('login', {user: user});

so you can have something like:

 listeners: {
      login: '_handleLogin',
      error: '_handleError'
    },

[2015-11-28 19:16] #94 closed

[2015-11-29 11:25] MeTaNoV commented on #74
+1

[2015-11-29 11:26] MeTaNoV commented on #74
what I miss more generally is also a verification email for a 2 step registration process like found in nearly all websites...

[2015-11-29 11:28] MeTaNoV commented on #47
+1

[2015-11-29 11:31] MeTaNoV opened #95 "Have <firebase-auth> share its internal state between multiple instance"
Currently, it is not possible to use different `<firebase-auth>` in different place of your code and get the global `auth` status.
If would be great to have this `mono-state pattern` mechanism!

[2015-11-30 14:56] addyosmani commented on #90
Now in master!

[2015-11-30 14:56] #90 closed

[2015-12-01 21:40] Whyser commented on #88
Along with some documentation or example for using the `query` object mentioned in the documentation. Took me ages to figure out I could write `this.$.myRef.query.set(...)`. We shouldn't have to dig through the whole javascript-documentation for basic functionality. :/

[2015-12-13 12:26] MeTaNoV commented on #48
+1

[2015-12-13 12:27] MeTaNoV commented on #93
+1

[2015-12-13 12:39] redian commented on #93
:+1:

[2015-12-13 12:56] redian commented on #48
:+1:

[2015-12-14 07:27] MeTaNoV commented on #95
It is now covered by one of my firebase extended element!

[2015-12-14 07:27] #95 closed

[2015-12-14 18:30] cdata commented on #48
Seems like a reasonable feature for us to add :+1:

[2015-12-14 19:26] MeTaNoV commented on #48
I like people who takes care! ;)

[2015-12-15 13:42] MeTaNoV commented on #39
/sub

[2015-12-15 13:45] MeTaNoV commented on #61
/sub

[2015-12-15 13:46] MeTaNoV commented on #64
/sub +1 for a better documentation!!!

[2015-12-15 13:50] MeTaNoV commented on #85
@arthurevans status? :)

[2015-12-15 18:19] cdata commented on #85
I will take a look.

[2015-12-15 18:19] cdata commented on #64
I will take a look.

[2015-12-16 00:29] devAtPolydeals commented on #85
:+1:

[2015-12-24 03:36] jfrazzano commented on #85
Have a firebase related question; not sure correct place to ask it.
Question related to instances and array loads.

Have a word array loaded from firebase into a passage holder in ready using
on child added. The word array is saved as "passageArray".

Passage display has two of the same custom element: single column display.

"passageArray" is bound in passage display to "theContent" in each of th

[2015-12-29 23:52] IchordeDionysos opened #96 "Authenticate to Firebase with oauth-token"
It would be cool if you implement the Firebase authWithOAuthToken() method.

I really need to have it.

Thanks in advance.

[Firebase.authWithOAuthToken](https://www.firebase.com/docs/web/api/firebase/authwithoauthtoken.html)

[2015-12-31 16:26] ebidel opened #97 "Firebase Element: Error if setting location declaratively from parent"
_From @chriswalz on December 31, 2015 4:54_

I have this code below in an element called **\<spark-input\>**
**\<firebase-collection location="https://removed.firebaseio.com/{{store}}" \>\</firebase-collection\>**

In another element I have this declaration.
**\<spark-input store="posts"\>\</spark-input\>**

I get this error: **'FIREBASE FATAL ERROR: Cannot parse Firebase url. Please use https://\

[2015-12-31 16:26] ebidel commented on #97
_From @chriswalz on December 31, 2015 5:3_

My work clunky work around by creating a second property 'a'

    <spark-input store="posts"></spark-input>
    <firebase-collection location="https://removed.firebaseio.com/{{a}}" >
    </firebase-collection>
       post: function() {
            this.a = this.store;
            // post code
      }

[2016-01-16 19:42] johnwhitton commented on #39
Has this been fixed?
I'm having a problem trying to get the users email, and am unsure whether I am just using the incorrect syntax or if this is an underlying problem with the element.

**The following works fine (not asking for email)**
`<firebase-auth auto-login redirect location="[[firebaseURL]]" provider="[[firebaseProvider]]" on-error="onFirebaseError" on-login="onFirebaseLogin" on-ref-chang

[2016-01-20 17:44] mm-gmbd opened #98 "autoLogin not reflecting value of attribute?"
In the example included with `firebase-element`, I added the attribute `autoLogin` to `firebase-auth` to test its functionality, but it always prints as `false`, regardless of the value I set it to.

[code]

I added a log to `_authHandler` to check the value of autoLogin, but it always prints false:

[code]

I thought this *may* be because of the `reflectToAttribute` element being true:

[code]

S

[2016-01-20 17:59] mm-gmbd commented on #98
`autoLogin` attribute needed to be `auto-login`... whoops.

[2016-01-20 17:59] #98 closed

[2016-01-20 18:14] mm-gmbd commented on #39
+1, for development, having this is important. I'd like to auto-login with the master token, but passing the token in the `params` attribute is generating the following error:

[code]

Wrapping token in double quotes still throws in just a slightly different error:

[code]

[2016-01-20 18:33] mm-gmbd opened #99 "Using components of firebase-element together (and provide example documentation)"
I would like to use `firebase-auth` to login and *then* load the elements for a `firebase-collection` or `firebase-document`. But, `firebase-collection` and `firebase-document` automatically run once the DOM is loaded, meaning that the auth is supposed to happen on a previous page and then be persisted across pages, I presume?

An example of using these components together would go a *loooooong* w

[2016-01-20 19:28] MeTaNoV commented on #99
you can take a look here: https://metanov.github.io/firebase-element-extended/components/firebase-element-extended/

[2016-01-20 20:04] ebidel commented on #74
Merged in https://github.com/GoogleWebComponents/firebase-element/pull/59/files

[2016-01-20 20:04] #74 closed

[2016-01-20 22:40] mm-gmbd commented on #47
Has this issue been fixed? I'm having a hard time working around it.

Starting from the example code for `firebase-auth`, I've got a login page that, when auth is successful, it will redirect to another page. My slightly modified `computeLoginStatus` that is bound to both `statusKnown` and `user`.

[code]

When I am redirected to my second page after successful auth, I have a hidden element that c

[2016-01-20 22:49] MeTaNoV commented on #47
I think it has been fixe today with a similar issue.

[2016-01-20 22:49] MeTaNoV commented on #47
https://github.com/GoogleWebComponents/firebase-element/pull/67

[2016-01-20 23:07] mm-gmbd commented on #47
Is this automatically updated on the Google Web Components page? I.e. can I run:

[code]

Or should I run:

[code]

Or just clone it from here?

[2016-01-20 23:10] MeTaNoV commented on #47
you should clone master or `bower install --save GoogleWebComponents/firebase-element#master`

[2016-01-20 23:23] mm-gmbd commented on #47
I've installed the latest and I see the same issue as described above:

[2016-01-21 00:56] honzalo commented on #47
I've installed the latest and the issue has been solved for me. You could use the on-login and on-logout events fired by the authHandler to perform the redirection, which would only be triggered right after the user is logged in/out and the user object being updated.

[2016-01-21 01:24] ebidel commented on #47
It should be fixed in the latest release. Marking as fixed.

[2016-01-21 01:24] #47 closed

[2016-01-21 16:03] mm-gmbd commented on #47
@honzalo, thanks for the tip about the on-login and on-logout. I'll switch to those directly.

[2016-01-21 16:42] mm-gmbd commented on #99
@MeTaNoV, thanks for the link! Checking it out now...

[2016-01-21 18:37] ebidel commented on #39
Passing JSON to an attribute needs to be valid JSON. So double quoted keys.

@johnwhitton
`params='{scope: "email"}'` needs to be `params='{"scope": "email"}'`

@mm-gmbd Attributes are configured using "=" not ":".

`params: '{"token": "MASTER_TOKEN}'` needs to be `params='{"token": "MASTER_TOKEN"}'`

See https://www.polymer-project.org/1.0/docs/devguide/properties.html#configuring-object-and-arra

[2016-01-21 19:41] johnwhitton commented on #39
@ebidel Thanks that works, sorry for the inconvenience.

[2016-01-21 20:21] ebidel commented on #39
NP :)

[2016-01-21 20:21] #39 closed

[2016-01-21 20:25] ebidel commented on #39
BTW, I closed this given the typos in the user examples above and the new release we pushed yesterday. If, after checking out the latest release, anyone is still seeing issues, please let use know.

[2016-01-26 18:30] mm-gmbd opened #100 "Data binding from firebase-collection not working correctly"
The example code from `firebase-collection` works fine, however, I cannot seem to get the data that is bound to `{{dinosaurs}}` to any other element instead of the `dom-repeat`. For example, if I add a line that simply prints the value of dinosaurs *before* the `dom-repeat`, nothing ever prints

[code]

Notice the lack of something next to the text "Dinosaurs:". Why is this?

[2016-01-27 19:54] mm-gmbd commented on #100
This is me not understanding Polymer well, I know now. It's still odd to me, but I know it's not a firebase-element issue.

[2016-01-27 19:54] #100 closed

[2016-01-27 20:02] mm-gmbd opened #102 "Error when binding data to an empty object"
I stumbled across this in an application I'm working on. In my application, I have an array that looks like the following (let's call it `data`):

[code]

I'm using this data structure to store data from *multiple* queries in a single object, in this case, `data`. I accomplish this by the following:

[code]

However, the way this is laid out currently produces the following error:

This has *somet

[2016-01-27 23:37] blasten opened #103 "Selected item becomes deselected when updated in firebase"
From: https://github.com/PolymerElements/iron-list/issues/131

Steps to reproduce the issue:

1) create an iron-list binded to  a firebase collection element
2) select an item
3) update the item in firebase
4) the selected item becomes unselected

Firebase collection uses : this.splice('data', this.data.indexOf(oldValue), 1, value); when it needs to update a value.   Iron list as a result will del

[2016-01-28 03:09] chriswalz opened #104 "Implementing Infinite scrolling with firebase"

[2016-01-29 12:52] dirathea opened #105 "Couldn't Authenticate using Popup"
Hi team,

I've encounter an error `Uncaught TypeError: Cannot read property 'token' of undefined` while invoke `login()` method.
This issue occurred on latest release of `firebase-element`.

Here's my code :
[code]

[2016-01-29 15:42] ebidel commented on #105
Please post code that repos the issue

On Fri, Jan 29, 2016, 4:52 AM Aldira Putra Raharja <notifications@github.com>
wrote:

[2016-01-31 20:32] robdodson commented on #105
Hitting the same issue in our todo-list https://github.com/PolymerLabs/todo-list/issues/12

[2016-01-31 22:37] #105 closed

[2016-01-31 22:40] robdodson commented on #105
I wonder if we can do a new release of the element and add a release note mentioning this change?

[2016-01-31 23:44] ebidel commented on #105
Already done bro!

On Sun, Jan 31, 2016, 2:40 PM Rob Dodson <notifications@github.com> wrote:

[2016-02-02 17:05] mm-gmbd opened #108 "firebase-document/collection "reconnect" upon auth"
I'm creating a single-page application that gets and displays some data through both firebase-document and firebase-collection. I'm running into an issue with the following workflow (using the more-router for switching between views):

- Login dialog is shown
- User logs in (login dialog disappears)
- Dashboard is shown
- Data is collected from Firebase (using `firebase-document` and `firebase-col

[2016-02-02 19:31] ebidel commented on #108
Seems like an oversight. Have you tried to reset the `.location` property? That should re-establish a firebase instance.

https://github.com/GoogleWebComponents/firebase-element/blob/master/firebase-document.html#L94

[2016-02-02 20:24] mm-gmbd commented on #108
So, the "location" that is passed to the element is done so via Polymer data binding:

[code]

If I had `location` two way binded using curly braces, then the `firebase-collection` essentially "nulls" the location that I had passed, hence the square braces. So, now that the location is not "nulled" by `.disconnect()`, I'm not sure the best way to "reset" the location property.

I am fairly new to

[2016-02-02 20:32] ebidel commented on #108
I haven't taken a look a the code, but yea, it'll require a coordinated effort among the related components. The FirebaseQueryBehavior should remain unware of auth.

[2016-02-02 20:39] mm-gmbd commented on #108
Agreed that it should remain unaware.

However, saving the string, providing a `status` property (that describes whether or not the query is connected or disconnected), and then a `.reconnect()` method may be a nice feature. as opposed to just setting the location to an empty string.

I'm okay with closing, but I'll let you decide. Thanks!

[2016-02-04 14:02] mm-gmbd commented on #31
After performing a fresh clone of my project repository, I'm now receiving this issue. I was on firebase-element v1.0.10, and after the clone I'm on the latest v.1.0.12, but nothing in the change logs would seem to affect this behavior... regardless, I'm receiving the error.

I'm at a loss after some debugging... the code is as follows:

[code]

The property `userData` was originally set to an emp

[2016-02-04 14:17] mm-gmbd opened #110 "Error "Uncaught TypeError: Cannot read property 'update' of undefined" when using firebase-document"
This is mentioned in issue #31, but it looks like that issue has gone cold and the title is a little misleading, so I'm opening this issue for the following error:

[code]

After performing a fresh clone of my project repository, I'm now receiving this issue. I was on firebase-element v1.0.10, and after the clone I'm on the latest v.1.0.12, but nothing in the change logs would seem to affect this

[2016-02-04 17:00] ebidel commented on #31
Can someone submit PR?

On Thu, Feb 4, 2016, 5:02 AM Max Mueller <notifications@github.com> wrote:

[2016-02-04 17:01] mm-gmbd commented on #31
I'd be happy to, but I'm just wondering if that fix is sufficient. Also, does the same have to be considered for firebase-collection?

[2016-02-04 17:06] MeTaNoV commented on #31
this? https://github.com/GoogleWebComponents/firebase-element/pull/109

[2016-02-04 17:12] mm-gmbd commented on #31
I think the title is misleading for this issue -- it's not really the location that is causing the error described in the issue, its the fact that `query` doesn't exist at the time _applyLocalDataChanges is called. So, I'm not sure if #109 fully addresses the underlying bug.

Now, maybe that only happens when the location isn't a static string, but performing a check for existence of `query` shoul

[2016-02-04 18:19] ebidel commented on #31
I'm ot sure #109  is the best fix. From reading all the comments, this does seem like a timing issue with `this.query` being set.

Something like https://github.com/GoogleWebComponents/firebase-element/issues/31#issuecomment-158913104 seems like a good approach.

If someone can throw together a simple jsbin that uses dynamic locations that would be really helpful. There's a couple of open issues o

[2016-02-04 18:24] mm-gmbd commented on #31
@ebidel, note about the comment that you referenced. `_updateRemoteDocument` is called from `_localDataChanged`, which, depending on the path provided *could* call `_setRemoteDocumentChild` which also includes a call to `query`.

IMO, the fix (at least, in firebase-document), should be in `_localDataChanged` just to err on the side of caution:

[code]

[2016-02-04 18:47] ebidel commented on #31
Yea, we should add checks everywhere where methods depend on `query` but it hasn't been defined yet.

Just so I'm clear, it's not that setting a `location` dynamically doesn't work, but that it throws JS errors propagating through the system?

[2016-02-04 19:02] mm-gmbd commented on #31
In many cases have I set a location dynamically through a compute or simple data binding, but in some rare instances, yes, the `query` error completely breaks my application.

[2016-02-06 05:12] eac commented on #103
I'm very new to polymer, so this may be unrelated, but I'm experiencing a similar issue using dom-repeat. I'm able to work around the behavior by adding a `filter` to the template that always returns true.

Repro:
[code]

[2016-02-15 21:38] arangates opened #112 "is there a way to update firebase with firebase-element?"
i want to send my iron-form data to firebase.the demo shows only GET method .can we send form data to firebase with firebase-element?

[2016-02-18 16:56] tinders commented on #103
I'm also new to polymer and having the same problem. Whenever a child is created with a dom-repeat, then it cannot seamlessly update itself via firebase. As every update fires, the data gets pushed back through from firebase and it triggers a recreation of the child. This has the effect of (for instance) blurring an input field on every key up event.

Filtering can fix it, but doesn't completely s

[2016-02-25 07:10] redbassett opened #113 "firebase-auth on-login callback repetition"
Currently, any method I provide for a callback in the `on-login` attribute of a `firebase-auth` element gets called once when the page loads while already logged in (makes sense since the session is being checked) but twice when a login actually occurs. Is there a way to prevent the double call, and preferably assign a callback to just a successful login, not every page load?

[2016-03-03 06:35] redbassett commented on #113
This issue was resolved in 37d1f69293f8dd37fa63ff9796fe6cde7c46d55a.

[2016-03-03 06:35] #113 closed

[2016-03-07 14:35] mm-gmbd commented on #112
If you two-way bind the data, and then change the data, it will update on Firebase (if your security rules allow it, that is)

[2016-03-08 04:52] #112 closed

[2016-03-14 06:26] johnlim commented on #96
Isn' t this supported in pull request #101?

[2016-03-14 15:16] ebidel commented on #96
Yea :)

On Sun, Mar 13, 2016, 11:26 PM John Lim <notifications@github.com> wrote:

[2016-03-14 15:16] #96 closed

[2016-03-14 19:39] IchordeDionysos commented on #96
Cool guys :+1:  Love it

[2016-03-15 10:34] maria-le commented on #44
[Also, take a look at this SO answer](http://stackoverflow.com/a/36006480/1640892).

[2016-03-15 18:07] #35 closed

[2016-03-21 13:58] MartinDude opened #117 "firebase-auth Trigger an event on _locationChanged > _authHandler when there is no login or logout."
Right now, locally, I have touched the firebase-auth.html on line 178 adding an else to the list.

`if (this._queuedLogin) {
    this.login(this._queuedLogin.params, this._queuedLogin.options);
    this._queuedLogin = null;
} else if (!this.statusKnown && this.autoLogin) {
    this.login();
} else {
   this.fire('nonaction');
}`

If something like this could be added to the basic firebase-auth tha

[2016-03-21 19:51] ebidel commented on #117
Is this https://github.com/GoogleWebComponents/firebase-element/pull/115?

[2016-03-22 07:58] MartinDude commented on #117
Close to spot on, thanks! (and sorry for missing it). The only difference is that I would like the event to fire only when no other events fire and not always, to distinguish it as a nonaction and not just a general auth attempt which might also become a correct login.

[2016-03-22 21:53] ryanwtyler opened #118 "_applySubPathChange fails when top level data is an array"
i have a custom element that i two-way bind with a firebase-collection element.  My data looks like this initially:

meetData:  [{name: "ryan tyler", lotId: 1}]

this updates my firebase data fine.  i immediately add to this object which is the first item of an array.

with this line:

this.set('meetData.0.attempt1', {attemptNum:1, declared: 100, b_currentAttempt: false});

i get this error: fireb

[2016-03-23 12:25] ryanwtyler opened #119 "two consecutive changes to bound data causes error in _applySubPathChange"
i have a custom element bound to a firebase-collection element.  I make two changes to my custom element's data:

[code]

the first one is fine.  the second one causes an error here in firebase-collection.html line 331:

[code]

somehow the key to the item being updated gets changes from "3" to 4. so
`var value = Polymer.Collection.get(change.base).getItem(key);`
returns "undefined"

[2016-03-23 12:32] MeTaNoV commented on #103
@blasten @eac @tinders This should be fixed thanks to #111 !

[2016-03-23 14:53] MeTaNoV commented on #119
you should give a try with `master` version since the fix in #111 might have resolved your issue...

[2016-03-23 21:53] ryanwtyler commented on #119
metanov's right.  you can close this. thanks

[2016-03-23 21:56] mm-gmbd opened #120 "How to set up a "read-only" firebase-document (or, "read-first")"
I'm building a single page application that has two tabs. A `firebase-document` to a particular location is called by an element on the first tab. The second tab is lazily loaded, and a `firebase-document` to the **same location** is set up by an element in that second tab.

The user only has read privileges to this location, but I'm getting the following error when the second `firebase-document`

[2016-03-23 21:56] mm-gmbd commented on #120
@brogers4

[2016-03-25 11:35] gaddesai opened #121 "orderByKey and startAt attributes are not reflected in query"
I am using firebase-collection to query data. When i debug orderByKey is false and startAt is null even when I set attributes correctly. The query is not working as expected too. Using v1.0.12.

    <firebase-collection id="myData" orderByKey startAt="20160310" location="{{location}}expenses/" data="{{data}}" on-firebase-value="_dataLoaded"></firebase-collection>

[2016-03-25 12:11] gaddesai commented on #121
I totally forgot about the polymer convention.
order-by-key start-at="20160310"

[2016-03-25 12:11] #121 closed

[2016-03-26 18:17] ryanwtyler opened #122 "observer functions not firing because childChanged firebase event call set on entire object."
https://github.com/GoogleWebComponents/firebase-element/blob/master/firebase-collection.html#L612

this line calls set on the entire object that changed.  not the subproperty of the object that changed.  so my dom-repeat sort function runs on the client that made the local change.  but other clients don't get set called on the property that fires the sort function.

[2016-03-27 05:36] samcarecho opened #123 "firebase-collection seems to break vulcanizer code"
I'm using firebase-collection in the declaration of a custom element.

I first import firebase-collection.html:
`<link rel="import" href="../../bower_components/firebase-element/firebase-collection.html">`

Then I call it in the template:
`<firebase-collection location="https://whatever.url.com" data="{{data}}"></firebase-collection>
`

if I run the code issuing "gulp serve", the app runs without

[2016-03-29 23:29] samcarecho commented on #123
Closing as the issue is repeated from Vulcanizer:

https://github.com/Polymer/vulcanize/issues/304

[2016-03-29 23:29] #123 closed

[2016-04-07 08:21] wwalterego opened #125 "Firebase-collection not loading data after login"
Here is the situation:
---

read rules of the Firebase:
`".read": "auth !== null && (auth.provider === 'google' || auth.provider === 'password')"`

I have a custom element with a firebase-collection (with a bound dom-repeat to show data) and a firebase-auth that manages the login.

If you start the app and you're logged out, you correctly can't read the data. Then you log in but the collection doe

[2016-04-11 10:42] johnlim commented on #125
@wwalterego After your app has authenticated, nothing is triggering `<firebase-collection>` to make a query to firebase. If you take a look at https://github.com/PolymerLabs/todo-list as an example, the app has an observer on `user` and changes the location in `<firebase-collection>` which "triggers" a query to firebase, thus resulting in data being updated. Which is the behaviour you want.

As of

[2016-04-11 18:56] #119 closed

[2016-04-11 19:35] wwalterego commented on #125
It totally worked for me! Thanks a lot @johnlim !

[2016-04-11 19:35] #125 closed

[2016-04-12 14:17] ryanwtyler opened #126 "adding an item to collection causes incorrect notification"
https://github.com/GoogleWebComponents/firebase-element/blob/master/firebase-collection.html#L326

when I add an item to a firebase collection in  _localDataChanged, change.value is {keySplices: null, indexSplices: null} which causes this if to fail and so ._applySubPathChange gets called incorrectly.

[2016-04-12 19:03] #118 closed

[2016-04-21 13:36] mm-gmbd commented on #120
Bump for some action...

[2016-04-22 19:00] #126 closed

[2016-04-22 19:04] ryanwtyler opened #127 "Observers for documents don't work as expected"
https://github.com/GoogleWebComponents/firebase-element/blob/master/firebase-document.html#L85

this line calls set on entire document instead of subproperty that changed.  this causes the change record's path to be "object" instead of "object.subprop".  my app has things that depend on the value of "subprop" and I can't set up observers for these dependencies.

[2016-04-25 16:45] cdata commented on #120
@mm-gmbd Hi! `firebase-document` should be able to support two instances pointed at the same location without the error condition you are describing. So, the behavior you describe sounds like a bug. Could you provide a reduced test case in the form of a JSBin or code snippet that we can review to assess what is going? For help getting started, please check out our [contribution guidelines](https:/

[2016-04-25 19:33] mm-gmbd commented on #120
In the process up putting together a repro now... thanks!

[2016-04-25 20:36] brogers4 commented on #120
@cdata @mm-gmbd This doesn't exactly reproduce the scenario described above but it is related.  I added the code to my github (link below) which includes a fairly detailed description of the issue.

[https://github.com/brogers4/firebase-test](url)

[2016-04-25 21:41] brogers4 commented on #120
@cdata, I just realized you may not  make the connection that @mm-gmbd and I are working on this together.  The above link is the repro that @mm-gmbd was referring to.  Also, if a JSFiddle or JSBin would be better, let me know.

[2016-04-25 22:14] brogers4 commented on #120
Here's a JSBin reproduction:

[http://jsbin.com/yejoxa/edit?html,console,output](http://jsbin.com/yejoxa/edit?html,console,output)

[2016-04-28 21:12] brogers4 commented on #120
Any update? We weren't able to reproduce the error where the same location is referenced multiple times (still exploring it though).  It looks like at least part of the original bug was due to putting the `<firebase-document>` inside a dynamically generated dom-repeat of `<firebase-document>`'s as described [here](https://github.com/brogers4/firebase-test).

[2016-04-28 21:33] cdata commented on #120
Sorry, there seems to be some conflated discussion here.

@brogers4 Please keep unrelated repro cases to a separate issue (unless you are collaborating directly with @mm-gmbd and he agrees that this repros his case).

[2016-04-29 18:36] brogers4 commented on #120
Yes, I am collaborating with @mm-gmbd (he is on vacation which is why I am now responding).  I was trying to reproduce the error described originally; however, I now think the description as to the potential cause of the error originally proposed by @mm-gmbd to be incorrect (though, we are still debating).

Our original thought was that since the `<firebase-document>`'s were being generated dynami

[2016-05-02 00:38] fromSpace opened #128 "_authHandler calls undefined function this._setUser"
this.setUser does not exist. It appears that the element property user is to be set to the current authData when successful login completes and null on logout.

I have added the _setUser function and it works. _setUser is only called from _authHandler.

This is a quickfix so I can reference the auth object from firebasAuth.user
I am unsure if this breaks anything but I do not see how it could, unl

[2016-05-13 08:36] MONKATRON opened #129 "Firebase-document gives "wrong url" if there is an _ in the fb key"
Example:

<firebase-document
      location="https://myfb.firebaseio.com/shows/-KDiuasghoihf923vfk"
      data="{{show}}"></firebase-document>

works but:

<firebase-document
      location="https://myfb.firebaseio.com/shows/-KDiuasgh_oihf923vfk"
      data="{{show}}"></firebase-document>

does not,  as there is a _ underscore in the firebase key - this generates a "Wrong Url" error.

[2016-05-13 08:37] MONKATRON commented on #129
this is using firebase-document but the editor looks to have stripped this out.

[2016-05-13 16:15] mraerino opened #130 "Fire error event when permission denied occurs"
The `_onQueryCancel` method of the `firebase-query-behaviour` should fire an event so I can handle errors like `Permission denied...` in my application.

At the moment, there is no event one can listen to to determine if a query failed. There is not even a change on the data property of `firebase-document`

[2016-05-16 05:17] myuseringithub opened #132 "Add support for shallow=true:"
Please add the ability to get only the immediate children in a collection, essentially setting shallow=true, limiting the depth of the response.
Thanks

[2016-05-17 03:33] zdwolfe opened #133 "Unauthorized Request Origin in firebase-element Demo"
Navigating to the ``firebase-auth`` demo page and choosing the provider type "Google" results in a Unauthorized Request Origin error page from Firebase.

<img width="400" alt="screen shot 2016-05-16 at 8 28 45 pm" src="https://cloud.githubusercontent.com/assets/719730/15310463/eb3c9aea-1ba4-11e6-8b47-7655f0d3bc7b.png">

Reproduction steps:

1. Navigate to [firebase-auth demo page](https://elements

[2016-05-17 05:28] deearcodes commented on #130
:+1:

[2016-05-18 19:16] bvhme opened #134 "firebase.google.com support"
Hey, any word on 3.0.0 support for firebase.js?

[2016-05-18 20:07] mm-gmbd commented on #134
Just saw the updates, immediately came to ask the same question. Using firebase-element for a fairly important project and would like to see this updated to the latest to take full advantage of the new platform

[2016-05-18 20:14] bahuma20 commented on #134
I wanna have it. NOW!!! It's so awesome! :)

[2016-05-19 17:26] gdavalos commented on #134
This probably is already been worked on (or even already done) since the new [app-indexeddb-mirror docs](https://elements.polymer-project.org/elements/app-storage?active=app-indexeddb-mirror) mention a `firebase-query` element

[2016-05-19 17:29] cdata commented on #134
Hey guys, we haven't broadly publicized it yet, so please keep this on the down low: https://github.com/Firebase/Polymerfire

[2016-05-19 17:31] mm-gmbd commented on #134
@cdata, yahoo!!!

[2016-05-21 09:28] Hunsin commented on #134
Will it support firebase.storage feature??

[2016-05-25 15:06] cdata commented on #134
@Hunsin Yeah, support for this feature is currently being designed. Track https://github.com/firebase/polymerfire/issues/10 for progress.

[2016-05-25 15:07] cdata commented on #134
Polymerfire has been released / announced, and is the official successor to this element for using the Firebase 3.0.0+ SDK. I'm going to close this issue.

[2016-05-25 15:07] #134 closed

[2016-05-25 19:45] fareesh commented on #134
I was all ready to #usetheplatform and started a polymer project and decided to jump aboard the Firebase train as well, only to spend 2 hours until I found this here issue :(

[2016-05-31 16:40] sergofan opened #135 "OAuth redirect domains problem"
Authentication from localhost worked fine, but from 192.168.X.XXX does not.
Setting a web app's OAuth redirect domains in firebase console does not solve problem.
Maybe the problem firebase.js version? (2.4.2)
Thanks.

[2016-06-03 14:14] leesander1 opened #136 "Difference between GoogleWebComponents/firebase-element and firebase/polymerfire"
I was curious as to the difference between this element (firebase-element) and the element [polymerfire ](https://github.com/firebase/polymerfire) from the firebase team. A couple of the newer codelabs use polymerfire but the polymerproject website has firebase-element on the elements page.

[2016-06-03 17:44] maria-le opened #137 "Firebase 3.x update breaks firebase-auth"
`firebase-auth` no longer works with the new version of Firebase.

[According to this SO answer](http://stackoverflow.com/a/37511235/1640892):

[Here is another version of the same issue on SO](http://stackoverflow.com/q/37606064/1640892).

[2016-06-03 18:07] craftyc0der commented on #137
I've been beating my head against this all day. Perhaps this is not my fault after all. No matter what I do I get, "Error: The specified authentication provider is not enabled for this Firebase"

[2016-06-03 18:30] tjsavage commented on #136
[polymerfire](https://github.com/firebase/polymerfire) is now the official Polymer+Firebase element from the Firebase team, compatible with the new Firebase 3.0 release.  This element uses the previous Firebase 2 API.

We're going to keep the firebase-element API docs up for current users, and will be adding pointers to the new Polymerfire docs as well as the docs themselves to the catalog.

[2016-06-03 19:43] maria-le commented on #136
@tjsavage: Will `firebase-auth` be updated to be compatible with Firebase 3.x? Or should we migrate to Polymerfire? ([See this issue #137](https://github.com/GoogleWebComponents/firebase-element/issues/137)).

[2016-06-05 06:32] sergofan commented on #135
I don't known about polymerfire.
Thanks.

[2016-06-05 06:32] #135 closed

[2016-06-05 23:29] #137 closed

[2016-06-06 21:19] #136 closed

[2016-06-08 14:14] mm-gmbd opened #140 "Combining orderByValue with equalTo for booleans does not work"
Similar to https://github.com/GoogleWebComponents/firebase-element/issues/89, but for booleans rather than numbers. Setting the `orderByValueType` to `boolean` did not work.

[code]

The records at the computed location are a collection of key-value pairs where the values are booleans. Regardless if I use true/false in the `equal-to`, no data is returned. However, if I remove `order-by-value`, `eq

[2016-06-08 14:15] mm-gmbd commented on #140
Probably because `orderByValueType` should be `orderValueType`. Oops.

[2016-06-08 14:15] #140 closed

[2016-06-09 18:27] mm-gmbd commented on #132
+1, but FYI - I don't think this feature is available via the Javascript API (which baffles me anyway), so I'm guessing you'll hear the same answer here.

[2016-07-01 22:32] vkniazeu commented on #47
I'm still getting this unexpected behavior of authentication flow running twice.
Using firebase3, angularfire2, and angular2 with:
  firebaseAuthConfig({
    method: AuthMethods.Redirect,
    provider: AuthProviders.Google
  })
Once redirected back from the authentication page the host page gets refreshed the second time unexpectedly.
If you are already authenticated, however, and do not go throug

[2016-07-10 06:22] patrickrodee commented on #47
@vkniazeu getting the same behavior in Angular2

[2016-07-10 09:05] vkniazeu commented on #47
Thanks @patrickrodee. Here's the full issue https://github.com/angular/angularfire2/issues/324.

[2016-07-22 11:22] Gnesan commented on #31
<firebase-query  id="query"
             path="/resident/[[bizKey]]/[[grpKey]]"
             data="{{resident}}">
            </firebase-query>
            <vaadin-grid visible-rows="{{resident.length}}">
                <table>
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>

[2016-07-22 11:29] Gnesan commented on #31
<firebase-query  id="query"
             path="/resident/[[bizKey]]/[[grpKey]]"
             data="{{resident}}">
            </firebase-query>
            <vaadin-grid visible-rows="{{resident.length}}">
                <table>
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>

[2016-07-22 11:32] Gnesan commented on #31
Guys give any idea, I am beginner of polymer and firebase

[2016-08-04 02:44] dhesson opened #142 "Item property change not filtered by dom-repeat"
I'm using a dom-repeat that has a filter function being applied to the firebase query result data. This is working fine out of the gate.  However, if an individual document has a property modified, and that property change would cause the document to fail my filter, it is still displayed.

An example would be I'm looking at a shared list of notes and querying by a category id, and I want to hide n

[2016-08-04 03:09] jfrazzano commented on #142
Are changes made on or off screen?  Are you keeping your count low on instances so you have fewer renders, or repeated use of same elements? Are the elements that are not updating not rendered during the change?  Are you using a single array to feed a page, and as a substitute for a page change? And are  you using a polymer page layout (iron pages etc) or your own? This list represents the varied

[2016-08-06 06:15] dhesson commented on #142
I actually just used the observe mechanic on my for each template and this fixed the issue.

[2016-08-06 06:15] #142 closed

[2017-01-17 23:31] sowsan opened #143 "Integrate non-default providers"
Hello Team -

How one can integrate non-default providers eg: Azure AD, which has the same authentication model , oAuth / Open ID ?

Regards,
Sowmyan

[2017-02-10 09:24] sp1rs opened #144 "How can i implement pagination with firebase-element?"

[2017-08-18 02:54] mobiletoly commented on #47
This issue still exists as of Aug 2017.

[2017-11-19 12:44] #69 closed